* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:CupheadVogue;
    src: url(../fonts/cupheadvogue-extraBold.ttf);
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: CupheadVogue, system-ui;
}

.Grid {
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 5rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
}

.Grid > * {
    overflow: hidden;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
    top: 0px;
    background-color: white;
    border-bottom: 5px solid black;
}

.nav ul li {
    list-style-type: none;
    font-size: 40px;
    text-decoration-line: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    align-self: flex-start;
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;

}

a {
    text-decoration-line: none;
    color: black;
    transition: transform 250ms ease-in-out;
}

a:hover {
    color: rgb(92, 224, 224);
    transform: translateY(-10px);
}

.Banner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    background-image: url(../img/645ac8d9-1087-4de9-8e9a-adedf9a4fde1-2.jpg);
    background-size: cover;
    height: 26rem;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    margin-left: 1rem;
    border-radius: 6rem;
    grid-column: 1/7;
    grid-row: 3/3;
}

.A__White {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color:white;
    height: auto;
    width: 100%;
    font-size: 5rem;
    margin-top: 8rem;
}

.Transparencia {
    background-color: rgba(0,0, 0, 0.6);
    height: 26rem;
    width: 100%;
    border-radius: 6rem;
    z-index: 0;
}

.Instagram {
    margin: 3rem;
    grid-column: 1/13;
    grid-row: 2/3;

}

.Newsletter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row: 3/3;
}

.H2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 100px;
}

.P {
    padding-top: 5rem;
    text-align: center;
    margin: auto;
    font-size: 50px;
}

.Input__Formulario {
    text-align: center;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
}

.Input__Email {
    font-size: 40px;
}

.Input__Button {
    width: 100%;
    font-size: 30px;
}

.Footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-top: 5px solid black;
    grid-column: 1/13;
    grid-row: 5/6;
}

.P__Footer {
    margin: 40px 20px 20px 20px;
    padding: 0px 20px 0px 20px;
}

.Rs {
    margin: 30px 50px 50px 0px;
    text-align: end;
}

.Icon {
    margin-left: 30px;
    margin-right: 30px;
}

.Logo__Link {
    transition: transform 250ms ease-in-out;
    width: 5vh;
    height: 5vh;
}

.Logo__Link:hover {
    transform: translateY(-10px);
}

.Banner__Galeria {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    text-align: center;
    margin: 5%;
    font-size: 80px;
    grid-column: 1/13;
    grid-row: 2/2;
}

.Fantasma {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1rem;
    margin: 1rem;
    grid-column: 1/13;
    grid-row: 3/3;

}
.Bomb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    grid-column: 1/13;
    grid-row: 2/2;
}
.Howie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    grid-column: 1/13;
    grid-row: 4/4;

}

.Main__Info {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.Card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    grid-column: 1/13;
    grid-row: 2/3;
}

.Foto {
    width: 100%;
    flex-wrap: wrap;
    margin: 5rem 7rem 5rem 7rem;
}

.Texto {
    width: 50%;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    margin: 5rem 7rem 5rem 7rem;
}

.Info__Form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    grid-column: 1/13;
    grid-row: 4/4;
}

button {
    width: 80px;
    height: 40px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: transform 250ms ease-in-out;
    will-change: auto;
}


.Description_Tiendas {
    display: flex;
    width: 100%;
    grid-column: 1/13;
    grid-row: 2/2;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

.TiendaChopper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    font-size: 60px;
    grid-column: 1/13;
    grid-row: 3/3;
}

.Worldwide__Enlace1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-column: 1/7;
    grid-row: 4/4;
}


.Worldwide__Enlace2{
    display: flex;
    flex-direction: row;
    text-align: center;
    grid-column: 7/13;
    grid-row: 4/4;
}

.Trabajos__DIV {
    position: relative;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    font-size: 40px;
    grid-column: 1/13;
    grid-row: 2/2;
}

.Titulo__Trabajos1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
    font-size: 20px;
    grid-column: 1/7;
    grid-row: 3/3;
}
.Titulo__Trabajos2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
    font-size: 20px;
    grid-column: 7/13;
    grid-row: 3/3;
}
.Titulo__Trabajos3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
    font-size: 20px;
    grid-column: 1/7;
    grid-row: 4/4;
}
.Titulo__Trabajos4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
    font-size: 20px;
    grid-column: 7/13;
    grid-row: 4/4;
}
@media screen and (max-width:480px) {
    nav ul {
        align-content: space-between;
        justify-content: space-around;
        margin: 0.1rem;
        width: 100%;
    }

    .nav ul li {
        font-size: 20px;
    }
    .Grid {
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1rem 0;
    }

    .Grid > * {
        padding: 1rem;
    }

    .nav {
        height: auto;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 8;
        padding: 0;
    }

    .nav .logo__img img {
        height: 90px;
    }

    .H2 {
        font-size: 50px;
    }

    .P {
        font-size: 25px;
    }
    .Instagram {
        grid-column: 1/7;
        margin: 0;
    }
    .Banner {
        grid-column: 1/7;
        grid-row: 3/3;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        padding: 0;
        height: auto;
    }

    .Transparencia {
        height: auto;
    }

    .Banner .A__White{
        font-size: 3rem;
        margin-top: 0;
        padding: 2rem;
    }

    .Newsletter {
        grid-column: 1/7;
        grid-row: 4/4;
        width: 100%;
    }

    .Newsletter .Input__Formulario > * {
        width: 100%;
    }

    .Footer{
        grid-column: 1/7;
        grid-row: 5/5;
        width: 100%;
        justify-content: space-around;
    }


    .P__Footer {
        padding: 0.5rem;
        margin: 0;
    }

    .P__Footer.copyright {
        margin-top: 2rem;
    }

    .Rs {
        margin: 0;
    }

    .Trabajos__DIV {
        grid-column: 1/7;
        grid-row: 2/2;
        font-size: 20px;
    }
    .Titulo__Trabajos1 {
        grid-column: 1/4;
        grid-row: 3/3;
        margin: 0%;
    }
    .Titulo__Trabajos2 {
        grid-column: 4/7;
        grid-row: 3/3;
        margin: 0%;
    }

    .Titulo__Trabajos3 {
        grid-column: 1/4;
        grid-row: 4/4;
    }

    .Titulo__Trabajos4 {
        grid-column: 4/7;
        grid-row: 4/4;
    }
    .Banner__Galeria {
        font-size: 20px;
        grid-column: 2/6;
        grid-row: 2/2;
    }

    .Bomb {
        grid-column: 1/7;
        grid-row: 2/2;
    }

    .Fantasma {
        grid-column: 1/7;
        grid-row: 3/3;
    }

    .Howie {
        grid-column: 1/7;
        grid-row: 4/4
    }

    .Description_Tiendas {
        font-size: 20px;
        grid-column: 1/7;
        grid-row: 2/2;
    }
    .TiendaChopper {
        font-size: 20px;
        grid-column: 1/7;
        grid-row: 3/3;
    }
    .Worldwide__Enlace1 {
        grid-column: 1/4;
        grid-row: 4/4;
    }
    .Worldwide__Enlace2 {
        grid-column: 4/7;
        grid-row: 4/4;
    }
    .Card {
        grid-column: 1/7;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        margin-bottom: 0%;
    }
    .Foto {
        width: 100%;
        margin: 0%;
    }

    .Texto {
        width: 100%;
        font-size: 20px;
        margin: 4% 0% 2% 0%;
    }
    .Info__Form {
        grid-column: 1/7;
        grid-row: 3/3;
        font-size: 10px;
        margin: 2%;
    }
}
